.connect-to-wallet-container {

    .connect-to-wallet-button {
        color: red;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
