@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html, body {
    margin: 0;
}

* {
    --metamask-button-orange-hover-color: #f68614;
    --metamask-button-orange-shadow-color: #ffa260;
    font-family: 'Raleway', sans-serif;
}